:root {
    --color-primary: #e4572e;
    --secondary-color: #fffff2;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Gamja Flower', cursive;
}

.header {
    background-color: var(--color-primary);
    text-align: center;
    padding-top: 1rem;
}

.header > h1 {
    font-size: 3rem;
    font-family: 'Chelsea Market', cursive;
    margin-bottom: 1rem;
    text-shadow: 2px 2px var(--secondary-color);
}

.header > h2 {
    color: #fff;
    font-size: 2rem;
}

.main-wrapper {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn__container {
    margin-top: 2rem;
    width: 40%;
}

.btn {
    width: 100%;
    padding: .7rem 5rem;
    font-size: 1.6rem;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    background-color: #050401;
    box-shadow: 3px 3px 0 0 var(--color-primary);
}

.article {
    width: 50%;
    padding: 0 .5rem;
    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 var(--color-primary);
}

h2 {
    font-size: 2.6rem;
}

.article:not(:last-child) {
    margin: 1.5rem 0;
}

.article__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.article__content, .text__container > p {
    font-size: 1.6rem;
}

hr {
    margin-top: 3rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.footer > p {
    font-size: 1.6rem;
}

.form {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.form > input {
    margin-left: .5rem;
    padding: .3rem .2rem;
    box-shadow: 3px 3px 0 0 var(--color-primary);
}

.copywrite {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.modal {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
}

.modal__content {
    width: 70%;
    /* height: 50%; */
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
}
/* modal open state */
.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 28px;
    font-weight: bold;
    transition: all .2s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 5rem; 
}

.input__title {
    padding: .8rem 1rem;
    border-radius: 1.5rem;
    width: 40%;
} 

.textarea {
    margin-top: 2rem;
    width: 50%;
    padding: .8rem 1.5rem;
}

.btn__submit {
    margin-top: 1rem;
    padding: .5rem 1rem;
}